:root{
  --main-color:#912338;
  --dark-text: #561925;
}
html{
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-variant: small-caps;
}
*{
  margin: 0;
  box-sizing: border-box;
}

/*  FONT SIZING QUERIES  */
@media (max-width: 420px) {
  html {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}
@media (min-width: 421px) {
  html {
    font-size: calc(1rem + 0.3vw);
  }
  h1 {
    font-size: calc(2.1rem + 0.3vw);
  }
  h2 {
    font-size: calc(1.2rem + 0.3vw);
  }
}
@media (min-width: 1921px) {
  html {
    font-size: calc(1rem + 0.6vw);
  }
  h1 {
    font-size: calc(2.1rem + 0.6vw);
  }
  h2 {
    font-size: calc(1.2rem + 0.6vw);
  }
}


/* INDEX / HOME */

.home-wrapper, .aisle-wrapper, .product-wrapper, .cart-wrapper ,.aisle-wrapper, .form-wrapper {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.banner, .aisle, .product, .cart, .aisles {
  height: 100%;
  max-width: 80vw;
  width: 100%;
}
h1 {
  margin-top: 1.5rem;
  color: var(--dark-text);
  font-weight: 700;
  text-align: center;
}
.products {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.aisles-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  margin-top: 1.5rem;
}
.aisles {
  max-width: 80vw;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
  padding-bottom: 3rem;
}
.aisles > a {
  position: relative;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.25rem solid white;
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
}
.aisles > a > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  filter: brightness(0.5);
}
.aisles > a > h2{
  z-index: 1;
}

/* PRODUCT CARD */ 

.p-card {
  position: relative;
  border: 0.25rem solid white;
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
  color: white;
}
.p-card > img {
  width: 100%;
  height: 100%;
}
.p-card > .image-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 90.73%);
}

.p-card > .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.p-card > .text > .rebate-price {
  text-align: end;
  align-self: end;
  text-decoration: line-through;
}
.p-card > .text > .price {
  text-align: end;
  align-self: end;
}
.p-card > .text > a {
  color: white;
  align-self: end;
}

/* PRODUCT PAGE */
.product-wrapper > a {
  margin-top: 1.25rem;
  color: var(--dark-text);
}
.product-wrapper > h1 {
  margin-top: 0.25rem;
}
.product {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
}
.product > img {
  width: 100%;
  border: 0.25rem solid white;
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
}
.product > .information {
  margin-top: 2rem; /* */
  color: var(--dark-text);
  font-weight: 500;
  display: grid;
  grid-template-columns: 6rem 8rem;
  grid-template-rows: 2.5rem 2rem 2rem;
  gap: 1.5rem 0;
}
.product > .information > .prices > .current-price {
  font-size: 1.1rem;
  font-weight: 700;
}
.product > .information > button {
  border: none;
  background-color: var(--main-color);
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
  color: white;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
    'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
}
.product > .information > .origin {
  grid-area: 2 / 1 / span 1 / span 2;
  display: flex;
  align-items: center;
}
.product > .information > .origin > svg {
  height: 1.25rem;
  margin-left: 1rem;
}
.product > .information > .description {
  grid-area: 3 / 1 / span 1 / span 2;
  align-self: center;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 0.25rem 0;
}
.product > .information > .description > svg {
  height: 0.5rem;
  margin-left: 1rem;
}

/* SHOPPING CART */

.cart {
  display: flex;
  flex-direction: row;
  color: var(--dark-text);
  margin-top: 1.5rem;
}
.cart > div {
  margin-right: 3rem;
}
.cart > .items {
  display: flex;
  flex-direction: column;
}
.cart > .items > .item {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1rem;
  font-weight: 500;
}
.cart > .items > .item > img {
  width: 100%;
  max-width: 7rem;
  border: 0.1rem solid white;
  filter: drop-shadow(0px 0.1rem 0.2rem rgba(0, 0, 0, 0.25));
  margin-right: 1rem;
}
.cart > .items > .item > .text > .name {
}
.cart > .items > .item > .text > .price {
}
.cart > .items > .item > .text > .buttons > svg {
  height: 1rem;
}
.cart > .summary {
}
.cart > .buttons {
  display: flex;
  flex-direction: column;
}
.cart > .buttons > button, form > button, form > .buttons > button {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans',
  'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif;
  padding: 0.3rem 0.5rem;
}
.cart > .buttons > .checkout, form > button, form > .buttons > button{
  border: none;
  background-color: var(--main-color);
  filter: drop-shadow(0px 0.1rem 0.2rem rgba(0, 0, 0, 0.25));
  color: white;
}
.cart > .buttons > .continue{
  border: 0.1rem solid var(--main-color);
  background-color: white;
  filter: drop-shadow(0px 0.1rem 0.2rem rgba(0, 0, 0, 0.25));
  color: var(--dark-text);
  font-weight: 700;
  margin-top: 1rem;
}

/* HEADER */
.header-wrapper{
  width: 100%;
  height: 3.5rem;
  background-color: var(--main-color);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.212);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 80vw;
  width: 100%;
  
}
.header > a {
  height: 2.5rem;
}
.header > a > svg.logo {
  height: 100%;
  justify-self: flex-end;
  filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.486) )
}
.header > .nav {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.486) )

}
.header > .nav > a {
  color: white;
  font-weight: 500;
  margin-left: 1rem;
}
.header > .nav > a > .cart-icon {
  height: 1.5rem;
}

/* FORMS - LOGIN - SIGN UP */

.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  max-width: 30rem;
  border: 0.1rem solid var(--main-color);
  background-color: white;  
  filter: drop-shadow(0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25));
  padding: 1rem;
  color: var(--dark-text);
}
form > input[type='text'],form > input[type='password'] {
  border: 0.1rem solid var(--main-color);
  padding: 0.2rem;
}
form > input, form > label{
  margin-bottom: 0.5rem;
}


/* BACKSTORE */
.backstore-nav-wrapper{
  text-align: center;
}
.backstore-nav-wrapper > .nav > a{
  color: var(--dark-text);
  
}
.backstore-nav-wrapper > .nav > a:not(.orders){
  margin-right: 1rem;
}
.grey-bg {
  background-color: #efefef;
  min-height: 70vh;
}

/* FOOTER */
.footer{
  background-color: #4E4E4E;
  width: 100%;
  height: 20vh;
  text-align: center;
  padding-top: 3rem;
}
.footer > a{
  width: 100%;
  color: white;
  
}

/* MEDIA QUERIES */

@media (max-width:1023px) {
  .products{
    grid-template-columns: 1fr;
  }
  .cart{
    flex-direction: column;
  }
  .cart > .items{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cart > .items > .item{
    margin-right: 1rem;
  }
  .cart > .buttons{
    margin-top: 1rem;
  }

}